@using Model.Common.Helper;
@using Model.Entity;
@model SpecificationsInstructionModel

<style>
    .k-button {
        padding: 15px 40px;
        background: #000;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        font-family: helvetica;
        font-size: 12px;
        letter-spacing: 3px;
        position: relative;
        transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
        display: block;
    }

        .k-button::after,
        .k-button::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            opacity: 0;
            transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        .k-button::after {
            width: 30px;
            height: 1px;
            background: white;
            transform: translateX(-3px);
            margin-top: 0px;
        }

        .k-button::before {
            content: "";
            transform: rotate(-135deg) translateX(50%);
            width: 11px;
            height: 11px;
            background: transparent;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            margin-top: -1px;
        }


        .k-button:hover {
            padding: 15px 60px 15px 20px;
        }

            .k-button:hover::after,
            .k-button:hover::before {
                opacity: 1;
                right: 15px;
            }


    .btn-hover {
        width: 200px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 55px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

        .btn-hover:hover {
            background-position: 100% 0;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .btn-hover:focus {
            outline: none;
        }

        .btn-hover.color-11 {
            background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
            box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
        }
</style>

<form id="specificationsInstructionForm" data-ajax="true" data-ajax-failure="onFailure" data-ajax-success="onSuccess" enctype="multipart/form-data" method="post">
    @Html.HiddenFor(x => x.Id, new { id = "SiId" })
    @Html.HiddenFor(x => x.UserId, new { id = "userId" })
    @Html.HiddenFor(x => x.IsAdmin, new { id = "isAdmin" })
    @Html.HiddenFor(x => x.UserFormId, new { id = "userFormId" })
    @Html.HiddenFor(x => x.FinalReportToPerson, new { id = "isFinalReportToPerson" })
    @Html.HiddenFor(x => x.FinalReportToVendor, new { id = "isFinalReportToVendor" })
    @Html.HiddenFor(x => x.IsEmailIncluded, new { id = "isEmailIncluded2" })
    @Html.HiddenFor(x => x.IsUrgent, new { id = "isUrgent" })
    <div class="col-lg-12">
        <h1 style="font-weight:bold">Specifications Instructions</h1>
        <h3 style="font-weight:bold">Attachments</h3>
        <br />
        <div class="row">
            <div class="col-lg-6">
                @(Html.Kendo().Upload()
                    .Name("Sifiles")
                    .Multiple(true)
                    .HtmlAttributes(new { aria_label = "File" })
                    .Validation(validation => validation.AllowedExtensions(new string[] { ".xlsx", "xls", "doc", "docx", "pdf" }).MaxFileSize(4294967295).MinFileSize(1))
                    .Enable(Model != null && Model.IsApproved == true ? false : true)
                    )
            </div>
        </div>
        <br />
        @if ((Model.Attachments.Count > 0) && (Model.IsApproved || Model.Id > 0))
        {
            <div class="row">
                <div class="col-lg-1">
                    <label for="File" class="k-form-label font-weight-bold">File</label>
                </div>
                <div class="col-lg-3">
                    <label for="CreatedAt" class="k-form-label font-weight-bold">Created At</label>
                </div>
                <div class="col-lg-3">
                    <label for="FileName" class="k-form-label font-weight-bold">File Name</label>
                </div>
                <div class="col-lg-4">
                    <label for="Description" class="k-form-label font-weight-bold">Description</label>
                </div>
                <div class="col-lg-1">
                    <label class="k-form-label font-weight-bold">Action</label>
                </div>
            </div>
            <hr>
            <div class="from-group mb-0" id="referencesLevels" style="overflow-y:scroll; overflow-x:hidden">
                <partial name="~/Views/SpecificationsInstructions/_Attachments.cshtml" model="Model.Attachments" />
            </div>
            <br />
        }
        <h3 style="font-weight:bold">Booking Details</h3>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <label>How many points of measurement are to be taken ?</label>
                <div class="form-group">
                    @(Html.Kendo().NumericTextBoxFor(m => m.MeasurementPoints)
                        .Min(0)
                        .HtmlAttributes(new { @class = "w-100", id = "MeasurementPoints", required = "required", ValidationMessage = "Please Enter Points of Measurement" })
                        .Enable(Model != null && Model.IsApproved == true ? false : true)
                        )
                </div>
            </div>
            <div class="col-lg-6">
                <label>How many differents size are to be checked ?</label>
                <div class="form-group">
                    @(Html.Kendo().NumericTextBoxFor(m => m.Sizes)
                        .Min(0)
                        .HtmlAttributes(new { @class = "w-100", id = "Sizes", required = "required", ValidationMessage = "Please Enter Sizes to be Checked" })
                        .Enable(Model != null && Model.IsApproved == true ? false : true)
                        )
                </div>
            </div>
        </div>
        <br />
        <h3 style="font-weight:bold">Specific Instructions</h3>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <label>Final Report (Send a copy to other persons)</label>
                <div class="form-group">
                    @(Html.Kendo().SwitchFor(m => m.FinalReportToPerson)
                        .Checked(Model != null ? Model.FinalReportToPerson == true ? true : false : false)
                        .Events(ev => ev.Change("onChangeStatus2"))
                        .HtmlAttributes(new { style = "width:100px;" })
                        .Messages(c => c.Checked("Yes").Unchecked("No"))
                        .Enabled(Model != null && Model.IsApproved == true ? false : true)
                        )
                </div>
            </div>
            <div class="col-lg-6">
                <label>Final Report (Send a copy to vendor)</label>
                <div class="form-group">
                    @(Html.Kendo().SwitchFor(m => m.FinalReportToVendor)
                        .Checked(Model != null ? Model.FinalReportToVendor == true ? true : false : false)
                        .Events(ev => ev.Change("onChangeStatus3"))
                        .HtmlAttributes(new { style = "width:100px;" })
                        .Messages(c => c.Checked("Yes").Unchecked("No"))
                        .Enabled(Model != null && Model.IsApproved == true ? false : true)
                        )
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <label>PrimLink Emails notifications (Send a copy to other persons)</label>
                <div class="form-group">
                    @(Html.Kendo().SwitchFor(m => m.IsEmailIncluded)
                        .Checked(Model != null ? Model.IsEmailIncluded == true ? true : false : false)
                        .Events(ev => ev.Change("onChangeStatus4"))
                        .HtmlAttributes(new { style = "width:100px;" })
                        .Messages(c => c.Checked("Yes").Unchecked("No"))
                        .Enabled(Model != null && Model.IsApproved == true ? false : true)
                        )
                </div>
            </div>
            <div class="col-lg-6">
                <label>Get your report faster! Same-Day reporting (+USD 30)</label>
                <div class="form-group">
                    @(Html.Kendo().SwitchFor(m => m.IsUrgent)
                        .Checked(Model != null ? Model.IsUrgent == true ? true : false : false)
                        .Events(ev => ev.Change("onChangeStatus5"))
                        .HtmlAttributes(new { style = "width:100px;" })
                        .Messages(c => c.Checked("Yes").Unchecked("No"))
                        .Enabled(Model != null && Model.IsApproved == true ? false : true)
                        )
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="float:right">
            <div class="col-md-12" id="eventBtns">
                @if (Model != null && Model.IsApproved == false)
                {
                    @(Html.Kendo().Button()
                        .Name("SaveSpecificationsInstruction")
                        .HtmlAttributes(new { type = "button" })
                        .Content(Model.Id > 0 ? "Update" : "Save")
                        .Events(ev => ev.Click("onSaveSpecificationsInstruction"))
                        )
                }
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("form").kendoValidator();
    });
</script>

<script src="~/js/pages/User/User.js" asp-append-version="true"></script>